<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this is app1_hai.html page</h1>
        <h1> navigating links</h1>
        <h6><a href="{% url 'app2:app2_hello'%}">Travel to app2_hello</a></h6>
        <h6>
            <a href="{% url 'app_string' %}">travel to app_string</a>
        </h6>
    </center>
    
</body>
</html>